* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font: 18px 'Helvetica Neue', Helvetica, Arial;
    background-color: #f5f5f5;
    color: #4d4d4d;
    font-weight: 300;
}

h1 {
    font-weight: 200;
    text-align: center;
    font-size: 80px;
}

.todolist-wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}

.new-todo {
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    padding: 16px;
    border: none;
    border-bottom: 1px solid #ededed;
    outline: none;
}